{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    .bluebutton{
      background-color: #5BA4FC;
      color: white;
      border-radius: 5px;
      min-width: 50px;
      min-height: 20px;
      border: none;
      box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);
    }

    .bluebutton:hover{
        background-color: #5897EE;
    }

    table{
        box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class = "login">

    
    <div style="margin: auto;margin-top:200px; width: 800px; height: 300px;">
        <h1>Login</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input style="width: 500px;" type="text" name="username" placeholder="Masukkan username disini..." ></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input style="width: 500px;" type="password" name="password" placeholder="Masukkan password disini..."></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td ><input style="width: 100px;" class="bluebutton" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
        <p>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></p>
    </div>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
</div>

{% endblock content %}