{% extends 'base.html' %}

{% block content %}
<style>
    body{
        font-family: Helvetica;
    }

    button{
        border-radius: 5px;
        border: none;
        text-decoration: none;
        box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);
    }
    a{
        text-decoration: none;
        color: white;
    }

    .card{
        width: 12.5rem;
        height: 20rem;

        margin: 2%;
        position: relative;
    }

    .cardposition{
        position: absolute;
        overflow-y: hidden;
        box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);
        border-radius: 5px;
        width: 80%;
        height: 70%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 2%;
    }

    .cardcontainer{
        height: 80%;
        width: 80%;
        position:absolute;
        border: solid yellow 2px;
    }

    .judul-web{
        color: white;
    }

    .welmessage{
        color: white;
    }
    .centerposition{
        height: 800px;
        border: solid red 2px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 2%;
    }

    .row{
        overflow-y: auto;
        white-space: nowrap;
        top:60%;
    }

    .col-xs-4{
        display: inline-block;

    }

    #userprofile{
        font-size: 25px;
        font-weight: 400;
        height: 15px;
        margin-bottom: 30px;
    }

    .logout-button{
        font-size: 10px; 
        height:30px; 
        width:70px;
    }

    .delete-position{
        width: auto;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        font-size: 0.8vw;
    }
    .add-position{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -50%);
    }
    .change-position{
        width: auto;
        height: auto;
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
        font-size: 0.8vw;
    }
    .finished-position{
        width: 60%;
        height: 6.5%;
        border-radius: 1rem;
        font-size: 1vw;
        position: absolute;
        text-align: center;
        left: 50%;
        color: white;
        top: 0%;
        transform: translate(-50%, -50%);
    }


    h1{
        padding-top:7% ;
        padding-left:12%;
        font-size: 2.5rem;
    }
    .card-title{
        font-size: 120%;
    }

    .card-text{
        font-size: 80%;
    }


     @media screen and (max-width: 820px){
        .cardposition{
            top: 45%;
            height: 50vw;

        }
        h1{
            padding-top: 25vw;
        }
        .card-title{
            font-size: 2vw;
        }
        .card-text{
            font-size: 1vw;
        }
        .finished-position{
            width: 15vw;
            height: 2.3vw;
            font-size: 1.5vw;
        }
        .change-position{

            font-size: 1vw;

        }
    } 
    

    
    
    @media screen and (max-width: 420px){
        h1{
            padding-top: 20%;
        }
        .cardposition{
            height: 92vw;
        }
        .navbar-brand{
            width: 20%;
        }
        .finished-position{
            width: 25vw;
            height: 4vw;
            font-size: 2.8vw;
        }
        .change-position{

            font-size: 2vw;

        }

        .delete-position{
            font-size: 1.5vw;
        }
        .logo-dito{
            width: 20%;
            height: 20%;
        }
        .judul-web{
            font-size: 70%;
            letter-spacing: -2%;
        }
        .foto-profil{
            padding-top: 5%;
            width: 30%;
            height: 30%;
        }
        .welmessage{
            font-size: 50%;
            letter-spacing: -2%;
        }
        .logout-button{
            font-size: 10px;
            text-align: center;
            width: 60px;
            height: 25px;
            
        }
        .d-flex{
            width: 40%;
            padding-left: 30px;
        }
        .centerposition{
            top:65%;
        }
    }

    




</style>

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
    <script type="text/javascript" language="javascript">
    $(document).ready(function(){
        $.get("/todolist/json/", function(tasks) {
            console.log(tasks);
            for (i = 0; i < tasks.length; i++){
                background_color = "#d9534f";
                if (tasks[i].fields.is_finished == "Selesai"){
                    background_color = "#5cb85c"
                }
                $(".task").append(`<div class="card col-xs-4" style="box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);">
                <img class="card-img-top" style="border-radius: 10px;" src="{{img_title}}"" alt="Card image cap">
                <div class="card-body">
                    <span class="card-title" >${tasks[i].fields.title}</span>
                    <p class="card-text" style="height: 0.05rem;">(${tasks[i].fields.date})</p>
                    <p class="card-text" >${tasks[i].fields.description}</p>
                    <span class="card-text finished-position" style="background-color:${background_color}; box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);">${tasks[i].fields.is_finished}</span>
                    <a href="/todolist/change-status/${tasks[i].pk}" class="btn btn-primary change-position" >Change Status</a>
                    <a class="btn btn-danger delete-position" onclick="delete_task(${tasks[i].pk})">X</a>

                </div>
            </div>`)
                
            }
        });
        $("#submit").click(function(){
          $.post("/todolist/add/", {
            title : $('#title').val(),
            description: $('#description').val()},
            function(new_task) {
            console.log(new_task);
            background_color = "#d9534f";
            if (new_task.fields.is_finished == "Selesai"){
                background_color = "#5cb85c"
            }
            $(".task").append(`<div class="card col-xs-4" style="box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);">
            <img class="card-img-top" style="border-radius: 10px;" src="{{img_title}}"" alt="Card image cap">
            <div class="card-body">
                <span class="card-title" >${new_task.fields.title}</span>
                <p class="card-text" style="height: 0.05rem;">(${new_task.fields.date})</p>
                <p class="card-text" >${new_task.fields.description}</p>
                <span class="card-text finished-position" style="background-color:${background_color}; box-shadow: 0px 3px 2px rgb(0 0 0/ 0.2);">${new_task.fields.is_finished}</span>
                <a href="/todolist/change-status/${new_task.pk}" class="btn btn-primary change-position" style="width: 80px; font-size: 8px;">Change Status</a>
                <a class="btn btn-danger delete-position" onclick="delete_task(${new_task.pk})" style="width: 80px; font-size: 8px;">X</a>

            </div>
        </div>`)
                
        }
            )
          })

        delete_task = (id_task) => {
        $.ajax({
          url: `/todolist/delete-task/${id_task}`,
          type: 'DELETE',
          success: function(response){
            $(`#${id_task}--task`).remove()
            window.location.reload()
          }
        })
      }
    }); 
    </script>
</head>
<nav class="navbar bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo-dito"src="https://cdn.discordapp.com/attachments/1027273502060982372/1027276315386187847/icondito.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <span class="judul-web">Task Management System</span>
      </a>
      <div class="d-flex">
        <img class="foto-profil" src="https://cdn.discordapp.com/attachments/1027273502060982372/1027273664200200272/profile.png" style="max-width: 60px; max-height: 60px;">
        <div class="container text-right salam">
            <div class="row">
                <span class="welmessage">Welcome, {{username}}!</span>
            </div>
            <div class="row" style="padding-left:10px;">
                <a class="btn btn-danger float-right logout-button" href="{% url 'todolist:logout'%}" >Logout</a>
            </div>
            <div class="row" style="padding-left:10px;">

            </div>
        </div>
      </div>
    </div>
  </nav>

<body>
<div>
      <h1>📃My Task</h1>
        <div class ="row cardposition bg-light">
            <div class="task"> </div>

        </div>
</div>
<!-- Button trigger modal -->
<button type="button" style="width:50%;" class="btn btn-success add-position" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add New Task
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Title: </td>
                        <td><input type="text" name="title" placeholder="Title.." class="form-control" id="title"></td>
                    </tr>
                            
                    <tr>
                        <td>Description: </td>
                        <td><input type="text" name="description" placeholder="Description.." class="form-control" id="description"></td>
                    </tr>
                </table>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="submit" data-bs-dismiss="modal" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock content %}